{% extends "layout.html" %} <!--extends the layout.html -->
{% block content %} <!--this is the body content part-->
    
    <!--Jinja 2 template-->
    {% for post in posts %}
    
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted }}</small>
          </div>
          <h2><a class="article-title" href="#">{{ post.title }}</a></h2><br><br>
          <p class="article-content">{{ post.content }}</p>
        </div>
      </article>

    {% endfor %}

{% endblock content %}